# Obsidian-related .gitignore file
# https://www.reddit.com/r/ObsidianMD/comments/qb55c7/syncing_over_gitgithub_how_to_set_up_gitignore/
# 
# Ignores workspace files that cause merge conflicts and plugins data

.obsidian/workspace

.obsidian/plugins/*/data.json
