# Obsidian-related .gitignore file
# https://www.reddit.com/r/ObsidianMD/comments/qb55c7/syncing_over_gitgithub_how_to_set_up_gitignore/
# https://forum.obsidian.md/t/looking-for-an-example-gitignore-file/47351
#
# Ignores workspace files that cause merge conflicts and plugins data

.obsidian/workspace.json
.obsidian/themes
.obsidian/appearance.json
.obsidian/plugins
.obsidian/snippets
